.THIS{
    margin: 10px 0;
}
.THIS div.slds-card{
    min-height: 135px;
    background: white;
}
.THIS div.star-rating{
    padding: 10px 0;
    display:none;
}
.THIS .star-rating img{
    width:1.5rem;
}
.THIS div.slds-card__body{
    padding: 0 10px;
    height: 55px;
}
.THIS div.slds-card__body .loading-div{
    position: relative;
}
.THIS div.slds-card__body .loading-div .slds-spinner--small{
    position: absolute;
    z-index: 9999;
    left: 45%;
    top: 15px;
}
.THIS .slds-media__figure{
    padding: 3px;
    border-radius: 0.2rem;
    background: #16325c;
}
.THIS div.slds-card__footer{
	height: 35px;
}
.THIS div.footer-contents{
    display:none;
}
.THIS .bcenter
{
display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align : center;
  -moz-box-align    : center;
  -ms-flex-align    : center;
  -webkit-align-items : center;
  align-items : center ;
  justify-content : center;
  -webkit-justify-content : center;
  -webkit-box-pack : center;
  -moz-box-pack : center;
  -ms-flex-pack : center;
}